#canvas {
  background-image:url(./cartoon-water-background-4.jpg);
  background-size: cover;
  /* z-index: 2;  */
}

body{
  display: flex;
  justify-content: center;
  background-image: url(background-snow1.png);
  background-size: cover;
  margin-top: 50px;

}


#startScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  color: rgb(5, 122, 189);
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
  z-index: 10;
  position: relative;
  left: 515px;
}


#startScreen1 {
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  color: rgb(5, 122, 189);
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: boom 1s linear;
  animation-fill-mode: forwards;
  z-index: 10;
}


@keyframes boom {
  100% {
    transform: rotate(1080deg) scale(1);
  }
}


#startScreen h1 {
  text-align: center;
  color: #222;
  font-size: 40px;
  text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}


@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

#startScreen p {
  text-align: center;
  font-weight: bold;
}

#startScreen span {
  position: relative;
  font-size: 18px;
  animation: up 2s linear infinite;
  animation-delay: 3s;
}



.off{
  display: none;
}

.on{
  display: default;
}

.links{
  display: flex;
  justify-content: space-between;
}

.links li{
  list-style: none;
  margin-right: 150px;
  
}

.footer{
  position: absolute;
  top: 800px;
  left: 450px;
}

.footer1{
  display: flex;
  align-content: flex-end;
  margin-top: 370px;
  margin-right: 100px;
}

.game-over-word{
  font-size: 42px;
   text-shadow: 0 1px 2px;
  animation: pulse 6s linear infinite;
}





